<section class="section patient-details">
  <ng-container *ngIf="patient$ | async as patient; else carregando">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ patient.name }}</mat-card-title>
        <mat-card-subtitle>RGHC: {{ patient.rghc }}</mat-card-subtitle>
        <p></p>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <!-- TODO separar uma "fatia" do paciente específica para cada serviço -->
          <mat-tab label="Dados Pessoais">
            <app-personal-data [patient]="patient"></app-personal-data>
          </mat-tab>
          <mat-tab label="MRC">
            <app-patient-mrc [mrc]="patient.protocols"></app-patient-mrc>
          </mat-tab>
          <mat-tab label="Parestesia">
            <app-parestesy></app-parestesy>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #carregando>
    <app-main-spinner></app-main-spinner>
  </ng-template>
</section>
