<mat-sidenav-container>
    <!-- mode should be changed on desktop -->
    <mat-sidenav mode="over" align="start" role="navigation" #sidenav>
        <a class="nav-link" fxLayoutAlign="start center" mat-button [routerLink]="['/main/patients']">
          <mat-icon>list</mat-icon>
          Listagem
        </a>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div>
          <span>Peripheral Nerves App</span>
        </div>
      </mat-toolbar>
      <main>
          <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
</mat-sidenav-container>







