<div class="container">
  <form
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start start"
  >
  <!-- TODO adicionar as outras informações -->
    <mat-form-field fxFill fxFlex.gt-xs="60" appearance="outline">
      <mat-label>Nome</mat-label>
      <input
        disabled
        autocomplete="off"
        disabled
        [value]="patient.name"
        matInput
        type="text"
        placeholder="Nome"
        required
      />
    </mat-form-field>

    <mat-form-field fxFill fxFlex.gt-xs="40" appearance="outline">
      <mat-label>RGHC</mat-label>
      <input
        disabled
        autocomplete="off"
        matInput
        [value]="patient.rghc"
        type="number"
        placeholder="RGHC"
      />
    </mat-form-field>

    <mat-form-field fxFill fxFlex.gt-xs="50" appearance="outline">
      <mat-label>Profissão</mat-label>
      <input
        disabled
        autocomplete="off"
        [value]="patient.occupation"
        matInput
        type="text"
        placeholder="Profissão"
      />
    </mat-form-field>
    <mat-form-field fxFill fxFlex.gt-xs="50" appearance="outline">
      <mat-label>Data Nascimento</mat-label>
      <input
        disabled
        autocomplete="off"
        matInput
        value="{{ patient.bornDate | date: 'dd/MM/yyyy' }}"
        type="text"
        placeholder="Data de Nascimento"/>
    </mat-form-field>
    <mat-form-field fxFill fxFlex.gt-xs="50" appearance="outline">
      <mat-label>Dominância</mat-label>
      <input
        disabled
        autocomplete="off"
        [value]="patient.handedness"
        matInput
        type="text"
        placeholder="Dominância"/>
    </mat-form-field>
  </form>
</div>

