mat-card {
  margin-bottom: 4rem;
  max-width: 1200px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  @include respond(tab-port) {
    margin: 0;
    height: 100%;
    padding: 1.6rem 0;
  }
}

mat-sidenav-container {
  height: 100%;
}

ng-template[matStepLabel] {
  border: 2px solid blue;
}
