.slider-item {
  width: 100%;
  max-width: 45rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid #eee;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__image {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 11rem;
    width: 9.5rem;
  }

  &__label {
    width: 30%;
    font-weight: 800;
    padding: 2rem;
  }

  &__slider {
    width: 60%;
  }

  &__counter {
    width: 10%;
    font-weight: 800;
    text-align: end;
    padding: 2rem;
  }
}
