<!-- <table mat-table #table>
  <ng-container matColumnDef="musculo">
    <th mat-header-cell *matHeaderCellDef>Músculo</th>
    <td mat-cell *matCellDef="let muscule">{{ muscule }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['musculo']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['musculo']"></tr>
</table> -->
