[mat-table] {
  width: 100%;
}

[mat-fab] {
  position: fixed;
  top: 100%;
  left: 100%;
  z-index: 2;
  transform: translate(-100%, -100%);
  margin: -1.6rem;
}

[mat-card] {
  margin-bottom: 4rem;
}

