<section class="section patient-list">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Lista de pacientes</mat-card-title>
      <mat-card-subtitle
        >Listagem dos pacientes cadastrados no sistema
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider class="mat-divider-horizontal"></mat-divider>
    <mat-card-content>
        <table mat-table #table [dataSource]="patients$ | async">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let patient">{{ patient.name }}</td>
          </ng-container>
          <ng-container matColumnDef="rghc">
            <th mat-header-cell *matHeaderCellDef>RGHC</th>
            <td mat-cell *matCellDef="let patient">{{ patient.rghc }}</td>
          </ng-container>
          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let patient" align="end">
              <button mat-icon-button color="primary" (click)="navigateToPatient(patient.id)" aria-label="Example icon button with a home icon">
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="['name', 'rghc', 'view']"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['name', 'rghc', 'view']"
          ></tr>
        </table>
    </mat-card-content>

    <!-- <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator> -->
  </mat-card>

  <a
    [routerLink]="'/main/new-patient'"
    mat-fab
    color="primary"
    role="navigation"
  >
    <mat-icon>add</mat-icon>
  </a>
</section>
