@import "../../../styles/abstracts/mixins";

.stepper-icon {
  margin-left: 1rem;
  font-size: 2.5rem;

  &--protocol, &--summary {
    margin-top: 4px;
  }
}

::ng-deep .mat-horizontal-content-container {
  @include respond(tab-port) {
    padding: 0 !important;
  }
}
