<section class="section new-patient">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Novo Paciente</mat-card-title>
      <mat-card-subtitle>
        Formulário para cadastro de novo paciente à plataforma
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-horizontal-stepper linear #stepper>
        <!-- STEP DADOS PESSOAIS -->
        <mat-step [stepControl]="personalDataForm" [editable]="true">
          <ng-template matStepLabel>
            <mat-icon class="stepper-icon" title="Paciente">person</mat-icon>
          </ng-template>

          <!-- transformar form em componente próprio -->
          <form
            [formGroup]="personalDataForm"
            fxLayout="row wrap"
            fxLayoutAlign="start center"
            fxLayout.xs="column"
            fxLayoutAlign.xs="start stretch"
          >
            <div class="form-title" fxFlex.gt-xs="100">
              <mat-card-title> Dados Pessoais </mat-card-title>
              <mat-card-subtitle>
                Preencha os dados pessoais do paciente
              </mat-card-subtitle>
            </div>
            <!-- TODO componentes específicos que emitem o form -->
            <mat-form-field fxFill fxFlex.gt-xs="60" appearance="outline">
              <mat-label>Nome</mat-label>
              <input
                autocomplete="off"
                formControlName="name"
                matInput
                type="text"
                placeholder="Nome"
                required
              />
            </mat-form-field>
            <mat-form-field fxFill fxFlex.gt-xs="40" appearance="outline">
              <mat-label>RGHC</mat-label>
              <input
                autocomplete="off"
                formControlName="rghc"
                matInput
                type="number"
                placeholder="RGHC"
              />
            </mat-form-field>
            <mat-form-field fxFill fxFlex.gt-xs="50" appearance="outline">
              <mat-label>Profissão</mat-label>
              <input
                autocomplete="off"
                formControlName="occupation"
                matInput
                type="text"
                placeholder="Profissão"
              />
            </mat-form-field>
            <mat-form-field fxFill fxFlex.gt-xs="50" appearance="outline">
              <input
                autocomplete="off"
                matInput
                formControlName="bornDate"
                placeholder="Data de Nascimento"
                [matDatepicker]="bornDate"
                [max]="maxDate"
                ngModel
                name="birthdate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="bornDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #bornDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFill fxFlex.gt-xs="50" appearance="outline">
              <mat-label>Dominância</mat-label>
              <mat-select formControlName="handedness">
                <mat-option value="LEFT">Canhoto</mat-option>
                <mat-option value="RIGHT">Destro</mat-option>
                <mat-option value="AMBIDEXTROUS">Ambidestro</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <div class="form-btn" fxLayout fxLayoutAlign="end center">
            <button
              mat-button
              [disabled]="personalDataForm.invalid"
              matStepperNext
            >
              Próximo
            </button>
          </div>
        </mat-step>

        <!-- STEP PROTOCOLO -->
        <mat-step [stepControl]="clinicalDataForm" [editable]="true">
          <ng-template matStepLabel>
            <mat-icon class="stepper-icon stepper-icon--protocol" title="Protocolo">medical_services</mat-icon>
          </ng-template>
          <form
            [formGroup]="clinicalDataForm"
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign="start stretch"
          >
            <div class="form-title" fxFlex.gt-xs="100">
              <mat-card-title>Protocolo</mat-card-title>
              <mat-card-subtitle>
                Selecione o protocolo desejado e informações adicionais
              </mat-card-subtitle>
            </div>

            <mat-form-field fxFill fxFlex.gt-xs="100" appearance="outline">
              <mat-label>Protocolo</mat-label>
              <!-- TODO preencher o protocolo a partir de uma listagem em um serviço específico -->
              <mat-select #protocolSelect selected>
                <mat-option value="tunel do carpo">Tunel do Carpo</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFill fxFlex.gt-xs="50" appearance="outline">
              <mat-label>Lado Afetado</mat-label>
              <mat-select formControlName="affectedSide">
                <mat-option value="LEFT">Esquerdo</mat-option>
                <mat-option value="RIGHT">Direito</mat-option>
                <mat-option value="BOTH">Ambos</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFill fxFlex.gt-xs="50" appearance="outline">
              <input
                autocomplete="off"
                matInput
                formControlName="complainStart"
                placeholder="Início da Queixa"
                [matDatepicker]="complainStart"
                [max]="maxDate"
                ngModel
                name="firstComplaint"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="complainStart"
              ></mat-datepicker-toggle>
              <mat-datepicker #complainStart></mat-datepicker>
            </mat-form-field>

            <mat-form-field fxFill fxFlex.gt-xs="50" appearance="outline">
              <input
                autocomplete="off"
                matInput
                formControlName="surgeryDate"
                placeholder="Data da Cirurgia"
                [matDatepicker]="surgeryDate"
                [max]="maxDate"
                ngModel
                name="surgeryDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="surgeryDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #surgeryDate></mat-datepicker>
            </mat-form-field>
          </form>
          <div class="form-btn" fxLayout fxLayoutAlign="end center">
            <button mat-button matStepperPrevious>Anterior</button>
            <button
              mat-button
              [disabled]="clinicalDataForm.invalid"
              matStepperNext
            >
              Próximo
            </button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>
            <mat-icon class="stepper-icon stepper-icon--summary" title="Resumo">assignment</mat-icon>
          </ng-template>
          <form
          [formGroup]="clinicalDataForm"
          fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutAlign="start center"
        >
          <div class="form-title" fxFlex.gt-xs="100">
            <!-- TODO resumo de paciente -->
            <mat-card-title>Pronto!</mat-card-title>
            <mat-card-subtitle>
              Confirme abaixo o envio do cadastro.
            </mat-card-subtitle>
          </div>
        </form>
          <div class="form-btn" fxLayout fxLayoutAlign="end center">
            <button mat-button matStepperPrevious>Anterior</button>
            <button
              mat-raised-button
              [disabled]="isFormInvalid()"
              matStepperNext
              color="primary"
              (click)="onSendForm()"
            >
              Enviar
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</section>
