*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
  @include respond(tab-land) {
      font-size: 56.25%;
  }

  @include respond(tab-port) {
      font-size: 50%;
  }

  @include respond(big-desktop) {
      font-size: 75%;
  }
}

// Normalize Buttons
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	fill: inherit;
}
