body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eee; }

// .heading-primary {
//   padding-left: .5rem;

//   &--main {
//     font-size: 7rem;
//     font-weight: 400;
//     line-height: 9rem;

//     font-family: 'Playfair Display', serif;

//     &--span {
//       box-decoration-break: clone;
//     }
//   }

//   &--sub {
//     padding-left: 1rem;
//     font-size: 3.5rem;
//   }
// }

// .heading-secondary {
//   padding: 1.5rem 4rem;
//   background-color: mistyrose;
//   border-top-right-radius: $border-radius;
//   border-top-left-radius: $border-radius;

//   &--main {
//     line-height: 3.5rem;
//     font-size: 2.4rem;
//   }
//   &--sub {
//     font-size: 1.6rem;
//   }
// }

// .support-text {
//   font-size: 1.4rem;
//   color: $color-medium-gray;
// }

.heading-tertiary {
  margin-bottom: 3rem;
}
